#headlogo
{float: left;
    height: 45px;
    width: 179px;
}

.iconsize
{
    border-radius: 5px;
    width: 25px;
    height: 25px;
}
#profileIcon
{
    height: 37px;
    width: 37px;
}
#navsearchbar
{
    margin-left: 26px;
   float:left; 
}
#topnav
{
    background-color:#f8f9fa!important;;
}
#belowfooter
{color: white;
    background-color: black;
}
#greyfooter
{color: grey;
    background-color: rgb(29, 27, 27);
}